@using AI_.Studmix.WebApplication.ViewModels.Content
@model DownloadViewModel

@{
    ViewBag.Title = "title";
}

<h2>title</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    foreach (var property in Model.Properties)
    {
        Model.States.Add(property.ID, "");

        <p>
            <span>
                @property.Name :
            </span>
            <br/>
            @Html.DropDownListFor(x => x.States[property.ID],
                                    new SelectList(property.States, "ID", "Value"), "-",
                                    new {onchange = "document.forms[0].submit();"})
        </p>
    }
}