@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    КРУПНЕЙШАЯ БАЗА ГОТОВЫХ УЧЕБНЫХ РАБОТ и литературы
Пройдите по ссылкам к вашему заданию и скачайте или загрузите свою работу.
</p>
