<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
  <membership defaultProvider="CustomMembershipProvider">
    <providers>
      <clear />
      <add name="CustomMembershipProvider" type="AI_.Security.Providers.CustomMembershipProvider, AI_.Security"
           unitOfWorkFactoryType="AI_.Security.Tests.Mocks.UnitOfWorkFactoryMock, AI_.Security.Tests" />
    </providers>
  </membership>
  </system.web>
</configuration>